body {
    margin: 0px;
    background-color: #383838;
    font-weight: normal;
    font-family: Segoe UI Light, Sans-Serif;
}

.header {
    background-color: #383838;
    padding: 35px 0 35px 0;
    width: 100%;
    clear:both;
    float: left;
    text-align: left;
}

.header h1 {
    margin: 0 22.25%;
    position: relative;
    left: 0px;
    width: 900px;
    font-family: Segoe UI Light, Sans-Serif;
    font-weight: normal;
    font-size: 60px;
    color: #d3d3d3;
}

.navbar {
    clear: left;
    font-family: Segoe UI Light, Sans-Serif;
    font-weight: normal;
    width: 22.25%;
    float: left;
    background: #383838;
    text-align: left;
    text-transform: lowercase;
}

.navbar ul {
    list-style: none;
    width: 95%;
    padding-left: 5%;
    margin: auto 0;
}

.navbar ul li {
    position: relative;
    float: left;
    padding: 10px 10px 20px 0;
    font-size: 25px;
}

li a {
    color : #d3d3d3;
    text-decoration: none;
}

#homeL a:visited {
    text-decoration: none;
}

.container {
    clear : right;
    float: left;
    width: 77.75%;
    text-align: left;
}

.innerContainer {
    margin: 0 0;
    width: 975px;
    text-align: left;
    color: #d3d3d3;
}

.contentDiv {
    padding: 0px 21px 0px 0;
    line-height: 1.5;
    min-height: 450px;
    height: auto !important;
    color: #d3d3d3;
    background-color: #383838;
}

#mainContent {
    width: 100%;
    overflow-y: hidden;
}

/*
table {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: aqua;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
*/

#mainContent a{
    text-decoration: none;
    color: #d3d3d3;
}

#mainContent a div {
    font-size: 16px;
}

.red {
    background-color: #E74C3C;
}
.red:hover {
    background-color: #C0392B;
}

.green {
    background-color: #2ECC71;
}
.green:hover {
    background-color: #27AE60;
}

.blue {
    background-color: #3498DB;
}
.blue:hover {
    background-color: #2980B9;
}

.navyBlue {
    background-color: #34495E;
}
.navyBlue:hover {
    background-color: #2C3E50;
}

.darkGreen {
    background-color: #1ABC9C;
}
.darkGreen:hover {
    background-color: #16A085;
}

.pink {
    background-color: #ff69b4;
}
.pink:hover {
    background-color: #ff1439;
}

.brown {
    background-color: #d35400;
}
.brown:hover {
    background-color: #8b4513;
}

.purple {
    background-color: #9B59B6;
}
.purple:hover {
    background-color: #8E44AD;
}

.orange {
    background-color: #F39C12;
}
.orange:hover {
    background-color: #F1C40F;
}

.seagreen {
    background-color: #ff0000;
}

.seagreen:hover {
    background-color: #cd5c5c;
}

#aboutMeLink {
    width: 160px;
    height: 160px;
}

#aboutMeLink:active {
}